@font-face {
    font-family: 'Affogato';
    src:  url('../assets/fonts/Affogato-Regular.woff2') format('woff2'),
          url('../assets/fonts/Affogato-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Butler';
    src:  url('../assets/fonts/Butler_Regular.woff2') format('woff2'),
          url('../assets/fonts/Butler_Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Butler';
    src:  url('../assets/fonts/Butler_Bold.woff2') format('woff2'),
          url('../assets/fonts/Butler_Bold.woff') format('woff');
    font-weight: bold;
  }